<div class="ui basic segment">
	<div class="ui inverted dimmer" ng-class="{active: doctor.loading}" ng-if="doctor.loading">
		<div class="ui text loader">{{'SYS_LOADING' | translate}}</div>
	</div>
	<table class="ui table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>
					Creation Date
					<a ng-click="doctor.sort({field: 'creation_date', by: 'asc'})"
						ng-show="doctor.search.Creation_date === 'desc'">
						<i class="sort content descending icon"></i>
					</a>
					<a ng-click="doctor.sort({field: 'creation_date', by: 'desc'})"
						ng-show="doctor.search.Creation_date === 'asc'">
						<i class="sort content ascending icon"></i>
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="ui transparent left icon small input">
  						<input placeholder="Name" type="text" ng-model="doctor.search.NAME" 
  							ng-enter="doctor.onSearch({field: 'NAME', value: doctor.search.NAME})">
  						<i class="search icon"></i>
					</div>
				</td>
				<td>
					<div class="ui transparent left icon small input">
  						<input placeholder="Email" type="text" ng-model="doctor.search.Email"
  							ng-enter="doctor.onSearch({field: 'Email', value: doctor.search.Email})">
  						<i class="search icon"></i>
					</div>
				</td>
				<td>
					<div class="ui transparent left icon small input">
  						<input placeholder="Phone" type="text" ng-model="doctor.search.Phone"
  							ng-enter="doctor.onSearch({field: 'Phone', value: doctor.search.Phone})">
  						<i class="search icon"></i>
					</div>
				</td>
			</tr>
			<tr ng-if="doctor.error" class="negative">
				<td colspan="4" class="center aligned">{{doctor.error}}</td>
			</tr>
			<tr ng-if="doctor.list.length == 0 && !doctor.error">
				<td colspan="4" class="center aligned">There is no items</td>
			</tr>
			<tr ng-repeat="row in doctor.list" ng-click="onRowClick({row: row})">
				<td>{{row.NAME}}</td>
				<td ng-class="{negative: !row.Email}">{{row.Email | empty}}</td>
				<td ng-class="{negative: !row.Phone}">{{row.Phone | empty}}</td>
				<td ng-class="{negative: !row.Creation_date}">{{row.Creation_date | date: 'DD/MM/YYYY'}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="4">
					<i>{{doctor.count}} Items</i>
					&nbsp
					<ng-pagination total="doctor.count" row="doctor.search.limit" ng-model="doctor.search.page"
						on-change="doctor.loadPage(data)">
					</ng-pagination>
				</th>
			</tr>
		</tfoot>
	</table>
</div>