<div class="ui basic segment">
	<div class="ui inverted dimmer" ng-class="{active: allergie.loading}" ng-if="allergie.loading">
		<div class="ui Mastertext loader">{{'SYS_LOADING' | translate}}</div>
	</div>

	<!-- ALLERGIE FORM -->
	<form class="ui form">
		<div class="html ui top attached segment">
			<div class="ui top attached label">Allegie detail</div>
			<h4 class="ui dividing header">Allergie detail</h4>

			<div class="field">
			    <label>Description</label>
			    <textarea ng-model="allergie.allergie_form.allergie_name"></textarea>
			</div>

			<div class="field">
				<div class="ui toggle checkbox">
			      <input name="privacy" type="radio" ng-model="allergie.allergie_form.allergie_name" ng-checked="allergie.allergie_form.allergie_name===1">
			      <label>Make this allergie available</label>
			    </div>
			</div>
			<div class="ui divider"></div>
			<div class="right floated ui labeled icon button" ng-click="allergie.insert()" ng-class="{'disabled':!allergie.allergie_form.allergie_name || allergie.allergie_form.allergie_name===''}" ng-show="allergie.isEditMode === false">
				  <i class="add circle icon"></i>
				  {{'BTN_ADD' | translate}}
			</div>
			<div class="right floated ui labeled icon button" ng-click="allergie.edit()" ng-class="{'disabled':!allergie.allergie_form.allergie_name || allergie.allergie_form.allergie_name===''}"  ng-show="allergie.isEditMode === true">
				  <i class="add circle icon"></i>
				  {{'BTN_EDIT' | translate}}
			</div>
			<div class="right floated ui labeled icon button" ng-click="allergie.cancelEdit()" ng-show="allergie.isEditMode === true">
				  <i class="add circle icon"></i>
				  {{'BTN_CANCEL' | translate}}
			</div>
		</div>
	</form>
	
	<!-- END ALLERGIE FORM -->
	<div class="ui divider"></div>


	<table class="ui table">
		<thead>
			<tr>
				<th>{{'MDL_ALLERGIE_FIELD_NAME' | translate}}</th>
				<th>{{'MDL_ALLERGIE_FIELD_ISENABLE' | translate}}</th>
				<th>
					{{'MDL_ALLERGIE_FIELD_CREATION_DATE' | translate}}
					<a style="cursor: pointer;" ng-click="allergie.sort({field: 'creation_date', by: 'asc'})"
						ng-show="allergie.search.Creation_date === 'desc'">
						<i class="sort content descending icon"></i>
					</a>
					<a style="cursor: pointer;" ng-click="allergie.sort({field: 'creation_date', by: 'desc'})"
						ng-show="allergie.search.Creation_date === 'asc'">
						<i class="sort content ascending icon"></i>
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="ui transparent left icon small fluid input">
  						<input placeholder="Name" type="text" ng-model="allergie.search.allergie_name" 
  							ng-enter="allergie.onSearch({field: 'allergie_name', value: allergie.search.allergie_name})">
  						<i class="search icon"></i>
					</div>
				</td>
			</tr>
			<tr ng-if="allergie.error" class="negative">
				<td colspan="4" class="center aligned">{{allergie.error}}</td>
			</tr>
			<tr ng-if="allergie.list.length == 0 && !doctor.error">
				<td colspan="4" class="center aligned">{{'MESS_SYS_002' | translate}}</td>
			</tr>
			<tr ng-repeat="row in allergie.list" style="cursor: pointer;" ng-click="allergie.formLoad(row)">
				<td>{{row.allergie_name}}</td>
				<td>
					    <input type="checkbox" disabled ng-checked="row.isEnable===1">
				</td>
				<td ng-class="{negative: !row.Creation_date}">{{row.Creation_date | date: 'DD/MM/YYYY'}}</td>				{{row}}
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="4">
					<i>{{allergie.count}} {{'SYS_LABEL_ITEMS' | translate}}</i>
					&nbsp
					<ng-pagination total="allergie.count" row="allergie.search.limit" ng-model="allergie.search.page"
						on-change="allergie.loadPage(data)">
					</ng-pagination>
				</th>
			</tr>
		</tfoot>
	</table>
</div>