<div class="ui visible inverted left vertical sidebar menu">
    <div class="item">
        <a ui-sref="loggedIn.home" class="ui logo icon image">
            <img src="images/logo.png">
        </a>
    </div>
    <a class="item" ng-repeat="function in mFunction.list">
        {{function.description}}
    </a>
</div>
<div style="padding-left: 270px; padding-top: 15px; width: 99%">
	<div ui-view="main-content"></div>
</div>

<!--<div class="ui visible inverted left vertical sidebar menu">
    <div class="item">
        <a ui-sref="loggedIn.home" class="ui logo icon image">
            <img src="images/logo.png">
        </a>
    </div>
    <a class="item" ng-repeat="function in mFunction.list">
        {{function.description}}
    </a>
</div>
<div style="margin-left: 265px; margin-top: 15px;">
	<div ui-view="main-content"></div>
</div>-->