<div class="ui basic segment">
	<!-- DATEPICKER FROM -->
	<div class="ui small labeled input">
		<div class="ui label">
	    	From
		</div>
	  	<input placeholder="00/00/0000" type="text" ng-model="timetable.search.from" ng-date-picker>
	</div>
	<!-- END DATEPICKER FROM -->
	&nbsp
	<!-- DATEPICKER TO -->
	<div class="ui small labeled input">
		<div class="ui label">
	    	To
		</div>
	  	<input placeholder="00/00/0000" type="text" ng-model="timetable.search.to" ng-date-picker>
	</div>
	<!-- END DATEPICKER TO -->
	&nbsp
	<!-- BUTTON -->
	<div class="ui black button">Create Timetable</div>
	<!-- END BUTTON -->
</div>

<div class="ui basic segment">
	<div class="ui inverted dimmer" ng-class="{active: timetable.loading}" ng-if="timetable.loading">
		<div class="ui text loader">{{'SYS_LOADING' | translate}}</div>
	</div>
	<div class="ui secondary button" ng-click="timetable.dialog.addDay()">Add Day</div>
	<div class="ui label">
		<i class="alarm outline icon"></i>
		Created from
		{{timetable.current.from_time}}
		&nbsp-&nbsp
		{{timetable.current.to_time}}
	</div>
	<table class="ui table">
		<thead>
			<tr>
				<th>Day</th>
				<th>Service</th>
				<th>From</th>
				<th>To</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="timetable.error" class="negative">
				<td colspan="5" class="center aligned">{{timetable.error}}</td>
			</tr>
			<tr ng-if="timetable.list.length == 0 && !timetable.error">
				<td colspan="5" class="center aligned">There is no items</td>
			</tr>
			<tr ng-repeat="row in timetable.list">
				<td>{{row.day_of_Week}}</td>
				<td>{{row.SERVICE_NAME}}</td>
				<td>{{row.from_t}}</td>
				<td>{{row.to_t}}</td>
				<td>
					<a><i class="write icon"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
</div> <!-- END UI SEGMENT -->

<script type="text/ng-template" id="timetableAddDialog">
	<div class="ui modal">
		<i class="close icon"></i>
  		<div class="content">
  			<form class="ui small form">
  				<div class="four fields">
  					<!-- CHOOSE DAY -->
  					<div class="required field" id="day_of_Week">
  						<label>Day</label>
  						<select ng-model="timetable.form.day_of_Week" 
  							ng-options="d.value as d.value for d in timetable.options.DAY_OF_WEEK">
  						</select>
  						<div class="ui tiny red pointing prompt label transition" style="display: none;" 
  							id="day_of_Week_label">
  						</div>
  					</div>
  					<!-- END CHOOSE DAY -->
  					<!-- SERVICE -->
  					<div class="required field" id="SERVICE_ID">
  						<label>Service</label>
  						<select ng-model="timetable.form.SERVICE_ID" 
  							ng-options="s.SERVICE_ID as s.SERVICE_NAME for s in timetable.options.services">
  						</select>
  						<div class="ui tiny red pointing prompt label transition" style="display: none;" 
  							id="SERVICE_ID_label"></div>
  					</div>
  					<!-- END SERVICE -->
  					<div class="required field" id="from_time">
  						<label>From Time</label>
  						<input type="text" ui-mask="99:99" ng-model="timetable.form.from_time">
  						<div class="ui tiny red pointing prompt label transition" style="display: none;" 
  							id="from_time_label"></div>
  					</div>
  					<div class="required field" id="to_time">
  						<label>To Time</label>
  						<input type="text" ui-mask="99:99" ng-model="timetable.form.to_time">
  						<div class="ui tiny red pointing prompt label transition" style="display: none;" 
  							id="to_time_label"></div>
  					</div>
  				</div>

  				<div class="field" id="description">
  					<label>Description</label>
  					<textarea ng-model="timetable.form.description" placeholder="Description"></textarea>
  				</div>

  				<div class="field">
  					<div class="ui small button" ng-click="timetable.save()">Save</div>
  				</div>
  			</form>
  		</div>
	</div>
</script>